
<!--
File created by ashcrok
                Mihai Pricop
-->

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>Meritwork is a socially-oriented enterprise committed to generating 
                work for small companies, self-employed individuals and others 
                looking for work opportunities, helping to realise their full potential, 
                while increasing the service quality for consumers and creating sustainable 
                local economies.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>
        
        <div class="row">
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img ng-src="http://iwatcher.net/shot/d979916f6733b8b3a809a41602345ef5-300x400.jpg">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img ng-src="http://iwatcher.net/shot/d979916f6733b8b3a809a41602345ef5-300x400.jpg">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img ng-src="http://iwatcher.net/shot/d979916f6733b8b3a809a41602345ef5-300x400.jpg">
              </a>
            </div>
            <div class="col-xs-6 col-md-3">
              <a href="#" class="thumbnail">
                <img ng-src="http://iwatcher.net/shot/d979916f6733b8b3a809a41602345ef5-300x400.jpg">
              </a>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->