
<!--
File created by ashcrok
                Mihai Pricop
-->

<!-- Page Content -->
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="modal-dialog">
                <div class="panel-heading" align="center">
                    <div align="center">
                        <img ng-src="http://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" style="max-height: 180px; max-width: 180px"  />
                    </div>
                </div>
                <div class="panel-body" style="border-bottom: 1px solid lightgray">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <!--
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            -->
                            <br>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="button" class="btn btn-primary btn-lg btn-block">Login</button>
                        </fieldset>
                    </form>
                    <br>
                </div>
                <br>
                <div class="container-fluid" align="center">
                    <div class="row">
                        <div class="col-xs-12">
                            <p><strong><a href="#">Forgot your password?</a></strong></p>
                            <p><strong>Don't have an account? <a ng-href="#/register">Register now!</a></strong></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->