
<!--
File created by ashcrok
                Mihai Pricop
-->

<!-- Page Content -->
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="modal-dialog">
                <div class="panel-heading" align="center">
                    <div align="center">
                        <img ng-src="assets/images/meritwork_icon.png" class="hidden-xs" style="max-height: 180px; max-width: 180px"  />
                        <img ng-src="assets/images/meritwork_logo_300x60.png" class="visible-xs" style="max-height: 180px; max-width: 180px"  />
                    </div>
                </div>
                <div class="panel-body" style="border-bottom: 1px solid lightgray">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Email" 
                                       name="email" type="email" autofocus="" 
                                       ng-model="input.email">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" 
                                       name="password" type="password" value="" 
                                       ng-model="input.password">
                            </div>
                            <br>
                            <div class="alert alert-danger" role="alert" ng-show="error === 'true'">{{errorMessage}}</div>
                            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="submit()"><strong>Login</strong></button>
                            <br>
                            <p align="center"><strong>Or</strong></p>
                            <div class="container-fluid">
                                <button type="button" class="btn btn-default btn-sm btn-block" ng-click="guestLogin()"><strong>Login as Guest</strong></button>
                            </div>
                        </fieldset>
                    </form>
                    <br>
                </div>
                <br>
                <div class="container-fluid" align="center">
                    <div class="row">
                        <div class="col-xs-12">
                            <p><strong><a href="#">Forgot your password?</a></strong></p>
                            <p><strong>Don't have an account? <a ng-href="#/register">Register now!</a></strong></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->