<!DOCTYPE html>
<!--
File created by ashcrok
                Mihai Pricop
-->

<!-- Page Content -->
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="modal-dialog">
                <div class="panel-heading" align="center">
                    <h2>New account</h2>
                </div>
                <div class="panel-body" style="border-bottom: 1px solid lightgray">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="First Name" name="firstName" type="text" autofocus="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Last Name" name="lastName" type="text" autofocus="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Email" name="email" type="email" autofocus="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Confirm Password" name="confirmPassword" type="password" value="">
                            </div>
                            <div class="form-group">
                                <p style="font-size: 11px">By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Use Policy</a>, including our <a href="#">Cookie Use</a>.</p>
                            </div>
                            <br>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="button" class="btn btn-primary btn-lg btn-block">Sign Up</button>
                        </fieldset>
                    </form>
                    <br>
                </div>
                <br>
                <div class="container-fluid" align="center">
                    <div class="row">
                        <div class="col-xs-12">
                            <p><strong>Welcome to Meritwork!</strong></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
